<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.timbiezeveld.amazighproj">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="com.example.timbiezeveld.amazighproj.MAINACTIVITY" />
                <action android:name="cocom.example.timbiezeveld.amazighproj.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Catogory"
            android:label="@string/title_activity_swipe"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".oefenen"
            android:label="@string/title_activity_oefenen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".OefenDieren1" />
        <activity android:name=".OefenDieren2" />
        <activity android:name=".OefenFood" />
        <activity android:name=".OefenFruit" />
        <activity android:name=".OefenGroente" />
        <activity android:name=".OefenInsecten" />
        <activity android:name=".OefenKleding" />
        <activity android:name=".OefenKleur" />
        <activity android:name=".OefenWeer" />
        <activity android:name=".QuizDieren1" />
        <activity android:name=".klaar"></activity>
    </application>

</manifest>